.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.loading {
  color: blue;
  margin-top: 10px;
}

.card {
  background: #f4f4f4;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

.small {
  font-size: 14px;
}